body {
  background: #36454F;
  color: white;
}

.BookCard {
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px white solid;
  width: 500px;
}

.BookCoverImage {
  height: 150px;
  margin: 10px;
  grid-row: span 2; 
  grid-column: 1;
} 
 
.BookCardAuthor{
   grid-column: 1; 
}

.BookCardAuthor{
   grid-column: 2; 
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: auto;
  justify-content: flex-end;
  background: red;

}

.pageTitle {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  align-items: top;
}

.logo {
  height: 75px;
  width: fixed;
  display: inline-block;
  align-items: right;
}


